.indicator {
  width: 1rem;
  height: 0.3rem;
  /* Smooth transition for width change */
  transition: width 250ms ease-in-out;
  background-color: white;

  &[data-active] {
    /* Increase width when active */
    width: 2rem;
    /* Active background color */
    background-color: var(--active-color, --default-color);
  }
}

.indicators {
  /* Positioning of indicators */
  bottom: 1rem;
}

.controls {
  /* Position controls absolutely within the container */
  position: absolute;
  /* Control positioning from the top */
  top: 93%;
  bottom: 0;
}

.control {
  /* Control color based on state */
  color: var(--active-color, --default-color);
  /* Set opacity to fully visible */
  opacity: 1;
}
